body {
  font-family: "Nunito", sans-serif;
  color: #444444;
  background-color: #fafafa;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff
}

.placeholder {
  width: 100%;
  min-height: 460px;
  background-color: #556E5B;
}

.header {
  color: white;
  min-height: 460px;
  background: transparent;
  position: relative;
}

.header-inner {
  padding: 40px 50px;
}

.header-side {
  margin-top: 100px;
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 5px;
}

.nav-bar {
  text-align: right;
  margin-top: 30px;
}

.nav-ul {
  display: flex;
  justify-content: flex-end;
}

.nav-li {
  list-style: none;
  display: block;
  margin-bottom: 0;
  padding-right: 20px;
  padding-left: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding-bottom: 10px;
}

.nav-link.active,
.nav-link:hover {
  border-bottom: 1px solid white;
}

.welcome-section {
  text-align: center;
}

.title {
  font-size: 2.7rem;
  font-weight: 900;
  margin-bottom: 5px;
}

.obj-container {
  margin-top: 50px;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  display: flex;
  flex-direction:row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.objects {
  width: 33%;
  height: 33%;
  text-align: center;
}

.sample-img {
  text-align: center;
  width:70%;
  height: 70%;
}

.des-title {
  color: #1A6692;
  font-size: 1.5rem;
  margin: auto;
}

.des-text {
  margin: auto;
  padding: 15px;
}

.des-price {
  font-size: 1.3rem;
  font-weight: 300;
  color: #1A6692;
  margin: auto;
  padding: 5px;
}

.end-of-page {
  text-align: center;
  font-size: 3rem;
}

.nocoffee-img {
  padding: 15px;
  height: 33%;
  width: 33%;
}

footer {
  text-align: center;
}
